/***************************/
/* Nav Link + Button Style */
/***************************/
.navbar-default { background-color: #122232 !important; }

.navbar-header a { color: #FFFFFF !important; }
.navbar-header a:hover { color: #F5CA5C !important; }

ul.nav a { color: #FFFFFF !important; }
ul.nav a:hover { color: #F5CA5C !important; }

.btn-primary { color: #122232 !important; background-color: #D3D3D3 !important; border-color: #C0C0C0 !important; }
.btn-primary:hover { color: #122232 !important; background-color: #F5CA5C !important; border-color: #F5CA5C !important; }

/**********************/
/* Submit Number Page */
/**********************/
#submit-num-form {
    display: inline-block;
    padding: 200px 0;
    text-align: center
}

#submit-num-textarea {
    margin-top: 25px;
    min-width: 700px;
    max-width: 100%;
    min-height: 45px;
    max-height: 300px;
    font-size: 20pt
}

#submit-num-button {
    margin-top: 25px;
    height:40px;
    width:100px
}

/**********************/
/* Submit Answer Page */
/**********************/

.sub-ans-table {
    width: 75%;
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#tbl .ok.ok{    /*this IS needed*/
    background-color:#ffe033
}
#tbl tr:hover:hover{
    background-color:#abf2af
}
#tbl tr:nth-child(even){
    background-color:#dedede
}
#tbl td:nth-child(5){
    color: #EE0000
}
#tbl input{
    width:100%;
    text-align:center;
}
#tbl th {
    text-align: center;
}

/**********************/
/* Admin Page         */
/**********************/

.table-container-admin {
    width: 75%;
    padding-top: 100px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.admin-table td {
    padding: 15px;
    text-align: center;
}

.admin-table th {
    padding: 15px 15px 0 15px;
    text-align: center;
    font-size: 16px;
}

.expand-table {
    width: 100%;
}

.expand-table td {
    text-align: center;
    border-color: #D3D3D3;
    border-style: solid;
    border-width: thick;
}
